<div class="reorder-items-container">
  <div class="reorder-item"
  *ngFor="let item of _items; let index = index"
  style.top="{{(item.order - 1)*itemHeight + 'px'}}">
    <div class="order-box-container">
      <input type="text" class="order-box"
      [tabindex]="(originalOrder[index].order*1)"
      [(ngModel)]="originalOrder[index].order"
      (keyup.enter)="rearrange(originalOrder[index], item)"/>
    </div>

    <div class="template-container">
      <ng-template
        [ngTemplateOutletContext]="{item: item}"
        [ngTemplateOutlet]="itemTpl">
      </ng-template>
    </div>
  </div>
</div>
